<!DOCTYPE html>
<html>
<head>
    <title>Expense Tracker</title>
	<!-- load in style.css and use to style this page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Expense Tracker</h1>

    <!-- Form to add a new transaction , post means sending data-->
     <form action = "/add" method ="POST" >
        <input type="text" name="item" placeholder="Item name" required>
        <input type="number" name="price" placeholder="Amount" step="0.01" required>
        <input type="date" id= "date" name="date" placeholder="Date" required>
        <select name="category_id" required>
            <!-- each option shows category name but sends id to Flask-->
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>

        <input type="text" name="description" placeholder="Description (optional)">
        <button type="submit">Add Transaction</button>
    </form>

    <table>
        <tr>
            <th>Item</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Category</th>
            <th>Description</th>
        </tr>
        <!-- loop through transactions and make row for each-->
        {% for transaction in transactions %}
        <tr>
            <td> {{transaction.item}}</td>
            <td> {{transaction.price}}</td>
            <td> {{transaction.date}}</td>
            <td> {{transaction.category.name}}</td>
            <td> {{transaction.description}}</td>
            <td> <a href="/delete/{{ transaction.id }}">Delete</a> </td>
        </tr>
        {% endfor %}
    </table>

    <!-- setting date as default value-->
     <script>
        document.getElementById('date').valueAsDate = new Date();
     </script>
</body>
</html>
